
html {
    background-color: #A7F2F2;
    font-family: Arial, sans-serif;
    font-family: 'Open Sans';
    font-family: 'Montserrat';
   }

p{font-family: 'Montserrat';}
h1{ font-family: 'Open Sans';}

   .word{
    letter-spacing: 1vw;
}

header img{

height:357px;   
align-items: left;
display: block;
margin-top: 40px;
margin-left:0 ;
}


